@use 'utilities';

@font-face {
  font-family: 'pricedown';
  src: url('../fonts/pricedown.woff2') format('woff2'), url('../fonts/pricedown.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'diploma';
  src: url('../fonts/diploma.woff2') format('woff2'), url('../fonts/diploma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/grovestreet.jpg');
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

h1 {
  font-family: diploma;
}

h2 {
  font-family: diploma;
  color: white;
}

#main {
  h1 {
    color: green;
    text-shadow: 0px 0px 6px white;
    font-size: 3rem;
    margin: 12px 0;
  }
}

#character-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

.character-card {
  @extend %reset-appearance;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  &:focus,
  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    cursor: pointer;
  }

  h2 {
    text-shadow: 0 0 1px black;
  }
}

#info-btn {
  @extend %reset-appearance;

  height: fit-content;
  border: 2px solid black;
  border-radius: 999px;
  background-color: white;
  font-weight: 600;

  &:focus,
  &:hover {
    transform: scale(1.1);
  }
}

#info-modal,
#game-over-modal {
  font-family: diploma;
  color: black;

  ul {
    list-style: georgian;
  }
}

.play-again-btn {
  @extend %reset-appearance;

  border: 1px solid darkgreen;
  border-radius: 999px;
  box-shadow: 0 0 5px lightgreen;
  transition-duration: 0.5s;
  font-family: pricedown;
  font-size: 2rem;
  background-color: green;
  color: white;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 3px green;
  }
}

#score-board {
  position: absolute;
  top: 4px;
  right: 4px;
}

#game-win-modal-overlay {
  background-color: black;
  animation: 2s fade-in;

  button {
    @extend %reset-appearance;

    position: absolute;
    top: 8px;
    left: 4px;
    color: white;

    &:hover, &:focus {
        transform: scale(1.2);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1180px) {
  body {
    background-size: contain;
  }
}

@media (max-width: 768px) {
  #score-board > div {
    flex-direction: row;
    gap: 12px;
  }

  #game-win-modal-overlay img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modal {
    max-width: 80%;
  }
}
