@use 'utilities';

@font-face {
  font-family: 'pricedown';
  src: url('../fonts/pricedown.woff2') format('woff2'), url('../fonts/pricedown.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'diploma';
  src: url('../fonts/diploma.woff2') format('woff2'), url('../fonts/diploma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/grovestreet.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: diploma;
}

h2 {
  font-family: diploma;
  color: white;
}

#main {
  h1 {
    color: green;
    text-shadow: 0px 0px 6px white;
    font-size: 3rem;
  }
}

#character-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

.character-card {
  @extend %reset-appearance;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:focus,
  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    cursor: pointer;
  }

  h2 {
    text-shadow: 0 0 1px black;
  }
}

#info-btn {
  @extend %reset-appearance;

  height: fit-content;
  border: 2px solid black;
  border-radius: 999px;
  background-color: white;
  font-weight: 600;

  &:focus, &:hover {
    transform: scale(1.1);
  }
}

#info-modal {
  ul {
    font-family: diploma;
    list-style: georgian;
  }
}

#info-modal-overlay:focus {
    border: 6px solid blue;
}

@media (max-width: 1180px) {
  body {
    background-size: contain;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .modal {
    max-width: 80%;
  }
}
